# Aplicacao
URI_HOMOLOG="https://api-ambiente.lottocap.com.br/api"


# Database
DATABASE_USERNAME='usuario'
DATABASE_PASSWORD='senha'
DATABASE_HOST='host
DATABASE_PORT=1433
DATABASE_DATABASE='base'
DATABASE_AZURE=true
DATABASE_TIMEOUT=1


# Series
ID_SERIE_MAX_REGULAR=1
ID_SERIE_MAX_PRE_VENDA=1
ID_SERIE_JA_18=1
ID_SERIE_JA_17=1


# Produtos
ID_PRODUTO_JA_18=1
ID_PRODUTO_MAX=1
ID_PRODUTO_JA_17=


# USER
USER_1_NAME=user22@gmail.com
USER_1_PASSWORD="1234"
USER_1_ID=3661


# User2
USER_2_NAME=use@gmail.com
USER_2_PASSWORD="00"
USER_2_ID=11


# Cartao
VALIDADE_ANO_CARTAO="00"
